
.gencontent {

    display: grid;
    /* justify-content: center; */
    padding: 20px;
    /* max-width: 800px; */
    
    
    
    
}

.jtron {
    padding: 5px;
  /* display: inline-flex; */
  word-break: break-word; /*
  word-wrap: break-word;
  /* white-space: normal; */
  /* max-width: 350px; */
  /* max-height: 200px; */
}