/* .app-wrapper {
  width: 100%; */
  /* margin: 0 auto; */
  /* display: grid;
  grid-template-areas: "n n " "c c";
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: 1fr 10fr;
  background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%),radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%),radial-gradient(circle at 50% 50%, #000000, #000000 100%);
  grid-gap: 10px;
} */

/* .app-wrapper-content {
  grid-area: c;
  

} */