.gridcontainer {
  grid-area: c;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  background-color:none;
  grid-column-gap: 25px;
  padding: 50px;
  text-decoration: none;
  
}

.griditem {
  /* background-color: rgba(219, 219, 52, 0.726); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;

  
  
}



.itemCard {
  background-color: rgba(245, 245, 245, 0.418);
}





.loader {
  justify-content: center;
  width: 100%;
  height: 100vh;
  grid-area: c;
  color: white;
  display: flow-root;
  justify-content: space-between;
  align-items: center;
  font-size: 80px;
  opacity: 60%;
}
